
 <div class="container">
      <div class="row">
        <div class="col-12">
            <h1 class="mx-auto text-center pt-5">Welcome To Cand-i-Date!</h1>
        </div>
      </div>
<% if !@logged_in %>
      <div class="row justify-content-center border border-dark rounded mt-5 py-4 bg-info">
        <% if flash[:errors] %>
        <div class="col-7">
          <ol class="bg-danger text-center border border-dark rounded font-weight-light text-light p-2">
          <% flash[:errors].each do |msg| %>
          <li><%= msg %></li>
          <% end %>
          </ol>
        </div>
        <% end %>
          <div class="col-6 text-center">
          <h2 class="text-center">Login</h2>
            <%= form_for(@user) do |f| %>
                <div class="form-group">
                        <%= f.label :first_name%>
                        <%= f.text_field :first_name, {class: "form-control"} %>
                </div>
                <div class="form-group">
                        <%= f.label :last_name%>
                        <%= f.text_field :last_name, {class: "form-control"} %>
                </div>
                <div class="form-group">
                        <%= f.label :email%>
                        <%= f.email_field :email, {class: "form-control"} %>
                </div>
                <div class="form-group">
                        <%= f.label :password%>
                        <%= f.password_field :password, {class: "form-control"} %>
                </div> 
              
              <%= submit_tag "Register", class:"btn btn-secondary text-center" %>
              
            <% end %>
          </div>
        </div>
    </div>


  <% else %>
  <div class="row justify-content-center mt-5">
    <h1 class="logged-in-message text-center">You are already logged in as <%= @current_user.full_name %>!</h1>
    </div>
  <% end %>
  </div>