 <div class="container">  
<% if !@logged_in %>
      <div class="row justify-content-center border border-dark rounded mt-5 py-4 bg-info">
        <% if flash[:errors] %>
        <div class="col-7">
          <div class="bg-danger text-center border border-dark rounded font-weight-light text-light pt-2 mb-2 errors">
          <% flash[:errors].each do |msg| %>
            <% if msg != "Password digest can't be blank" %>
              <p><%= msg %></p>
            <% end %>
          <% end %>
          </div>
        </div>
        <% end %>
          <div class="col-7 text-center">
          <h2 class="text-center">Register</h2>
            <%= form_for(@user) do |f| %>
                <div class="form-group">
                        <%= f.label :first_name%>
                        <%= f.text_field :first_name, {class: "form-control"} %>
                </div>
                <div class="form-group">
                        <%= f.label :last_name%>
                        <%= f.text_field :last_name, {class: "form-control"} %>
                </div>
                <div class="form-group">
                        <%= f.label :email%>
                        <%= f.email_field :email, {class: "form-control"} %>
                </div>
                <div class="form-group">
                        <%= f.label :password%>
                        <%= f.password_field :password, {class: "form-control"} %>
                </div> 
              
              <%= submit_tag "Register", class:"btn btn-secondary text-center" %>
              
            <% end %>
          </div>
        </div>
    </div>


  <% else %>
  <div class="row justify-content-center mt-5">
    <h1 class="logged-in-message text-center">You are already logged in as <%= @current_user.full_name %>!</h1>
    </div>
  <% end %>
  </div>
