
 <div class="container">
      <div class="row">
        <div class="col-12">
            <h1 class="mx-auto text-center welcome">Welcome To Cand-i-Date!</h1>
        </div>
      </div>
<% if !@logged_in %>
      <div class="row justify-content-center rounded mt-5 py-4 form-shadow">
        <% if flash[:message] %>
        <div class="col-7">
          <p class="bg-danger text-center border border-dark rounded font-weight-light text-light p-2"><%= flash[:message] %></p>
        </div>
        <% end %>
          <div class="col-6 text-center">
          <h2 class="text-center">Login</h2>
            <%= form_tag "/login" do %>
                <div class="form-group">
                        <%= label_tag :email%>
                        <%= email_field_tag :email, nil, {class: "form-control"} %>
                </div>
                <div class="form-group">
                        <%= label_tag :password%>
                        <%= password_field_tag :password, nil, {class: "form-control"} %>
                </div>

              <%= submit_tag "Login", class:"btn btn-primary" %>
            <% end %>
          </div>
        </div>
    </div>


  <% else %>
  <div class="row justify-content-center mt-5">
    <h1 class="logged-in-message text-center">You are already logged in as <%= @current_user.full_name %>!</h1>
    </div>
  <% end %>
  </div>