  <div class="container border border-dark rounded mt-5 py-4 bg-success ">
<h1 class="mx-auto text-center pt-5">Welcome To Cand-I-Date!</h1>

<% if flash[:message] %>
  <p><%= flash[:message] %></p>
<% end %>

<% if !@logged_in %>

      <div class="container border border-dark rounded py-3 text-center">
        <h2 class=" text-center">Login</h2>
        <div class="row justify-content-around">
          <div class="col-6 text-center">
            <%= form_tag "/login" do %>
                <div class="form-group">
                        <%= label_tag :email%>
                        <%= email_field_tag :email, nil, {class: "form-control"} %>
                </div>
                <div class="form-group">
                        <%= label_tag :password%>
                        <%= password_field_tag :password, nil, {class: "form-control"} %>
                </div>

              <%= submit_tag "Login", class:"btn btn-primary" %>
            <% end %>
          </div>
        </div>
  </div>


  <% else %>
  <div class="row justify-content-center">
    <h1 class="logged-in-message">You are already logged in as <%= @current_user.full_name %>!</h1>
    </div>
  <% end %>