
 <div class="container">
      <div class="row justify-content-center border border-dark rounded mt-5 py-4 bg-info">
        <% if flash[:errors] %>
        <div class="col-7">
          <div class="bg-danger text-center border border-dark rounded font-weight-light text-light pt-2 mb-2 errors">
          <% flash[:errors].each do |msg| %>
          <p><%= msg %></p>
          <% end %>
          </div>
        </div>
        <% end %>
          <div class="col-6 text-center">
          <h2 class="text-center">Edit Politician</h2>
           <%= form_for(@politician) do |f| %>
                <div class="form-group">
                        <%= f.label :first_name, "First Name"%>
                        <%= f.text_field :first_name, {class: "form-control"} %>
                </div>
                <div class="form-group">
                        <%= f.label :last_name, "Last Name"%>
                        <%= f.text_field :last_name, {class: "form-control"} %>
                </div>
                <div class="form-group">
                        <%= f.label :img_url, "Image URL"%>
                        <%= f.text_field :img_url, {class: "form-control"} %>
                </div>

              <%= submit_tag "Submit", class:"btn btn-secondary text-center" %>
        <% end %>
          </div>
        </div>
    </div>
  </div>