 
<div class="container">
  <div class="row justify-content-center">
    <div class="col-7">
     <% if @politician != 0%>
      <div class="card">
        <div class="row no-gutters justify-content-around">
          <div class="col-md-4">
              <!--<div class="card" style="width: 18rem;">-->
            <div id="card-img" class="shadow">
            <%= image_tag @politician.liz_img_url, {class:"card-img-top", id:"lizard_img"}%> 
            <%= image_tag @politician.img_url, {class:"card-img-top", id:"politician_img"}%> 
            
            </div>
          </div>
          <div class="col-md-8 border-bottom border-light">
            
              <div class="card-body">
                <h5 class="card-title"><%= @politician.full_name %></h5>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">State: <%= @politician.state %></li>
                <li class="list-group-item">Party: <%= @politician.party%></li>
                <li class="list-group-item border-bottom">Chamber: <%= @politician.chamber%></li>
              </ul>
          </div>
          <div class="card-body">
                <div class="row col-md-12 justify-content-around">
                  
                    <p class="card-text pb-3 border-bottom"><%= @politician.bio%></p>
                 
                  <%= button_to  "Thanks, I hate it.", {:controller => "follows", :action => "create",  :user_id => @current_user.id, :politician_id => @politician.id, :match=> false, :method => :post}, class:"btn btn-dark" %>
                  <%= button_to  "Swipe Right", {:controller => "follows", :action => "create", :user_id => @current_user.id, :politician_id => @politician.id, :match=> true, :method => :post}, class:"btn btn-dark" %>
                </div>
              </div>
        </div>
      </div>
      <% else %>
        <h1>There are no more lizard people to follow!</h1>
      <% end %>
    </div>
  </div>
</div>
