<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card">
        <div class="row no-gutters justify-content-around">
          <div class="col-md-4">
              <!--<div class="card" style="width: 18rem;">-->
            <div id="card-img" class="shadow">
            <%= image_tag @politician.liz_img_url, {class:"card-img-top", id:"lizard_img"}%> 
            <%= image_tag @politician.img_url, {class:"card-img-top", id:"politician_img"}%> 
            
            </div>
          </div>
          <div class="col-md-8">
            
              <div class="card-body">
                <h5 class="card-title"><%= @politician.full_name %></h5>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">State: <%= @politician.state %></li>
                <li class="list-group-item">Party: <%= @politician.party%></li>
                <li class="list-group-item border-bottom">Chamber: <%= @politician.chamber%></li>
              </ul>
          </div>
          <div class="card-body ">
                <div class="row col-md-12 justify-content-around">
                    <p class="card-text pb-3 border-bottom"><%= @politician.bio%></p>
                 
                  <%= link_to "Edit", edit_politician_path(@politician), class:"btn btn-dark" %>
                  <% if @current_user.politician_matches.include?(@politician) %>
                    <%= button_to  "Unfollow",follow_path(@current_user.follows.find_by(:politician_id=>@politician.id).id), params:{:user_id => @current_user.id, :politician_id => @politician.id, :match=> false}, :method => :patch, class: "btn btn-dark" %>
                  <% else %>
                    <%= button_to "Follow", {:controller => "follows", :action => "create", :user_id => @current_user.id, :politician_id => @politician.id, :match=> true, :method => :post}, class:"btn btn-dark" %>
                  <% end %>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>
