<!DOCTYPE html>
<html>
  <head>
    <title>Cand-i-Date</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => "reload" %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <%= link_to "Cand-i-Date", politicians_path, class: "navbar-brand welcome"%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <% if @logged_in %>
        <%= link_to "Add a Politician", new_politician_path, class: "nav-item nav-link active mr-3 btn btn-info border border-dark"%>
        <%= link_to @current_user.full_name, @current_user, class: "nav-item nav-link active mr-3 btn btn-secondary border border-dark"%>
        <%= button_to "Logout", {action: "destroy", :controller=>"login", method: :delete}, class:"btn btn-danger py-2 border border-dark", form_class: "form-inline" %>
      <% else %>
        <%= link_to "Login", home_path, class: "nav-item nav-link active mr-3 btn btn-secondary border border-dark"%>
        <%= link_to "Register", new_user_path, class: "nav-item nav-link active btn btn-secondary border border-dark"%>
      <% end %>
      </div>
  </div>
</nav>
  <div class="container mt-5 p-5">      
     
    <%= yield %>
        

  </div> 
  </body>
</html>
